article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}


@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cafe24Ssurround';
    line-height: 150%;
}

.go {
    font-size: 30px;
}

#title{
    font-size : 25px;
}

#A{
    position: fixed;
    left: 0;
    right: 0;
    top: 35%;
    font-size: 16px;
}

#B{
    position: fixed;
    left: 0;
    right: 0;
    top: 55%;
    font-size: 16px;
}

body{
    background-color: #CEE5D0;
    max-width: 360px;
    margin: auto;
}

button {
    background: #F3F0D7;
    width : 400px;
    height: 100px;
    margin : 0 auto;
    margin-top: 5%;
    border-radius: 1em;
    border: 0;
    box-shadow: 5px 4px 3px #ADC2A9;
    transition-duration: 0.2s;
}

button:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: none;
}

.progress{
    width : 340px;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 15%;
}

.progress-bar {
    background-color : #789395;
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    width: 250px;
    height: 250px;
    border-radius: 1em;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 6px 3px #ADC2A9;
    border: 3px solid #87A8A4;
}

#explain {
    padding : 5%;
    font-size : 18px;
}

.image-container {
    width: 100%;
    text-align: center;
  }
  
  img {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 6px 3px #ADC2A9;
    border: 3px solid #87A8A4;
  }

.result-box {
    background-color: #FAF1E6;
    width: 340px;
    height : 380px;
    margin : 10% auto;
    border : 2px solid #87A8A4;
    border-radius: 1em;
}

#explain {
    padding : 5%;
    font-size : 18px;
}